#aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    min-height: 400px;
}
#aboutus h3{
    width: 50%;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

#aboutus p{
    width: 80%;
}

#aboutus img{
    max-width: 10%;
    filter: drop-shadow(0 2px 5px #00000080);
}
