#mapa{
    width: 50%;
}

#mapa iframe{
    border: 0;
    width: 85%;
    height: 90%;
    box-shadow: 0px 0px 8px 0px #00000080;
    margin-right: 12%;
}

@media (max-width: 900px){

    #mapa{
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #mapa iframe{
        width: 70%;
        margin: 0;
        height: 300px;
        margin-bottom: 15px;
    }

}