/********************************************* NAVBAR *************************************************/
.nav-contenedor{
    background-color: rgb(24, 24, 24) !important;
    display: flex;
    justify-content:  center;
  }
  
  .navbar, .navbar-expand-lg, .navbar-dark, .bg-dark{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    width: 85%;
  }
  
  .navbar-collapse{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-nav{
    width: 55% !important;
    display: flex !important;
    justify-content: space-around;
  }
  
  .iconos{
    display: flex;
    align-items: center;
  }
  
  .iconos img{
    width: 30px;
    margin-right: 5px;
  }

  @media (max-width: 1200px) {
    .navbar-nav{
      width: 85% !important;
    }
  }

  @media (max-width: 1050px) {
    .iconos{
      display: none;
    }
    .dropdown-menu{
      background-color: rgb(88, 88, 88) !important;
      text-align: center;
    }
    .dropdown-menu a{
      color: white !important;
    }
    .dropdown-menu a:hover{
      color: black !important;
    }
  }

  @media (max-width: 400px){
    a{
      font-size: 0.7em;
    }
  }