/************************** WHATSAP ****************************************/
.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 20px;
  }
  
  .whatsapp img{
    width: 80px;
  }
  
  @media (max-width: 500px){
    .whatsapp img{
      width: 50px;
    }
  }